ENVIRONMENT_NAME=development

DJANGO_SETTINGS_MODULE=webgrab_main.settings

PYTHONUNBUFFERED=1

DATABASE_HOST=db
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
SELENIUM_DRIVER_URL=http://selenium:4444/wd/hub
