ENVIRONMENT_NAME=production

DJANGO_SETTINGS_MODULE=webgrab_main.settings_prod

PYTHONUNBUFFERED=1

DATABASE_HOST=db
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

S3_ACCESS_ID=<key_id>
S3_SECRET_KEY=<secret>
S3_BUCKET_NAME=webgrab
